openapi: 3.0.4
info:
  title: Bot Detector
  description: >-
    Bot Detector analyzes user agent strings to identify bots, crawlers, and
    automated software. It matches against a database of known bots and adds
    heuristics that catch automated clients not in the database, returning the
    bot's category, reputation and a composite risk score. Useful for security,
    analytics, and access control.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/botdetector:
    get:
      summary: Check if User Agent is a Bot
      description: >-
        Analyzes a user agent string to determine if it belongs to a known bot
        or crawler, and returns detailed information about the bot type and
        category.
      operationId: botdetector
      parameters:
        - name: ua
          in: query
          schema:
            type: string
          required: true
          description: The user agent string to analyze (URL encoded)
          example: Googlebot/2.1 (+http://www.google.com/bot.html)
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  userAgent: Googlebot/2.1 (+http://www.google.com/bot.html)
                  isBot: true
                  bot:
                    name: Googlebot
                    category: search_engine
                    url: http://www.google.com/bot.html
                    reputation: trusted
                    shouldBlock: false
                  isAutomated: true
                  riskScore: 0
                  riskLevel: low
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
